// Your customize CSS
@import "./var";
@import "./font";

.child-vertically-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.child-vertically-center-sm {
  @media (max-width: $md) {
    position: inherit !important;
  }
}

.child-vertically-horizontally-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-title {
  font-size: 40px;
  font-weight: bold;
  color: $primary-black;
}

.main-explain {
  font-size: 16px;
  line-height: 1.5;
  color: $secondary-black;
}

.btn-def {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: white;
  border-radius: 4px;
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: $azul;
  height: 45px;
  vertical-align: center;
  padding-right: 60px;
  padding-left: 60px;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.btn-def:hover {
  color: white;
  background-color: $lighter-azul;
  transition: 0.3s ease-in-out;
}

.btn-def:focus, .btn-def:active {
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
}

.header-nav {
  ul > li > a {
    font-size: 14px;
    font-weight: bold;
    color: $primary-black;
    padding: 1px 30px;
    @media (max-width: $md) {
      padding: 1px 12px;
    }
  }

  ul > li > a.active {
    color: $azul;
    border-left: 1px solid $dark-cream;
  }

  ul > li > a.feature-item {
    border-left: 1px solid $dark-cream;
  }

  ul > li > a img {
    margin-top: -10px;
    height: 40px;
    width: 123px;
    @media (max-width: $md) {
      height: 27px;
      width: 85px;
    }
  }
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  color: $primary-black;
  text-align: center;
}

.hr-title {
  border-top: 1px solid $primary-black;
  width: 4%;
  margin-top: 38px;
}

.feature-title {
  h3 {
    font-size: 18px;
    font-weight: bold;
    color: $primary-black;
    display: inline-block;
    align-self: flex-end;
  }
}

.feature-explain {
  font-size: 14px;
  line-height: 1.57;
  color: $brownish-grey;
}

.feature-title-block {
  width: 32px;
  height: 32px;
  background-color: $light-purple-blue;
  border-radius: 50%;
  position: relative;

  span, img {
    font-size: 32px;
    position: absolute;
    top: 6px;
    right: -8px;
  }

  .icon-resources {
    font-size: 28px;
  }

  .icon-vector {
    font-size: 28px;
  }
}

.social-box {
  a {
    text-decoration: none;
  }

  span {
    font-size: 21px;
    color: $light-grey-blue;
  }
}

.header-background, .footer-background {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  @media (max-width: $md) {
    height: auto;
  }
}

.header-background {
  padding-bottom: 5%;
  background-position: bottom;
}

.footer-background {
  padding-top: 6%;
  background-position: top;
}

.create-title {
  font-size: 26px;
  font-weight: bold;
  color: $primary-black;
}

.create-text {
  font-size: 16px;
  line-height: 1.38;
  color: $brownish-grey;
}

.panel {
  margin-top: 50px;

  a.panel-tab {
    width: 50%;
    border: none !important;
    font-size: 16px;
    color: $light-grey-blue;
    text-align: center;
    padding-right: 2px;
    padding-left: 2px;
    background-color: transparent;

    .icon-qr-code {
      font-size: 14px;
    }
  }

  a.active {
    color: $azul !important;
    border-bottom: 2px solid $azul !important;
    background-color: transparent !important;
  }
}

.form-col {
  padding-top: 35px;
}

.custom-select-option {

  .bootstrap-select {
    width: 100% !important;
  }

  .dropdown-toggle {
    background-color: white;
    height: 45px;
    border-radius: 4px;
    border: 1px solid $light-gray;
  }

  .btn-light:not(:disabled):not(.disabled):active,
  .btn-light:not(:disabled):not(.disabled).active,
  .show > .btn-light.dropdown-toggle {
    background-color: white;
  }

  .bootstrap-select > select.mobile-device:focus + .dropdown-toggle,
  .bootstrap-select .dropdown-toggle:focus {
    outline-color: white !important;
    box-shadow: 0 0 0 0 !important;
  }

  .dropdown-toggle:focus {
    border: 1px solid $light-gray !important;
  }

  ul > li > a.dropdown-item {
    color: $primary-black;
    font-size: 16px;
  }

  ul > li > a.dropdown-item.active, ul > li > a.dropdown-item:active {
    background-color: $azul;
    color: white;
  }

  ul > li > a.dropdown-item:focus {
    outline: none;
  }

  .dropdown-toggle::after {
    content: "\e90a";
    font-family: icomoon !important;
    border: none !important;
    font-size: 8px;
    color: $light-grey-blue;
    padding-top: 3px;
  }
}

.primary-label {
  font-size: 16px;
  font-weight: 500;
  color: $primary-black;
}

.primary-form-input {
  height: 45px;
  vert-align: middle;
  background-color: white;
  color: $primary-black;
  border-radius: 4px;
  font-size: 16px;
  border: 1px solid $light-gray;
}

.primary-form-input::placeholder {
  color: $very-light-gray;
}

.primary-form-input:focus {
  border: 1px solid $azul;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 0 0 !important;
}

.info {
  width: 90%;
  height: 45px;
  border-radius: 4px;
  background-color: $gray-cream;
  font-size: 16px;
  padding-right: 16px;
  padding-left: 16px;
  line-height: 45px;

  span:first-child {
    color: $light-grey-blue;
  }

  span:last-child {
    color: $primary-black;
  }
}

.pre-code {
  float: right;
  width: 100%;

  code {
    font-size: 12px;
    height: 310px;
    border-radius: 6px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
    overflow: scroll;
    padding-left: 30px;
  }

  code::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
  }

  code:hover::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #75715e;
    transition: 0.5s ease-in-out;
  }

  code::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.add-to-clipboard-text {
  font-size: 14px;
  color: $primary-black;

  span {
    color: $cloudy-blue;
    font-size: 12px;
  }
}

.btn-copy {
  width: 58px;
  height: 21px;
  border-radius: 4px;
  border: solid 1px $light-blue;
  background-color: white;
  font-size: 10px;
  font-weight: 500;
  text-align: center;
  color: $azul;
  z-index: 5;
}

.btn-copy:focus {
  box-shadow: 0 0 0 0 !important;
}

.btn-copy:hover {
  transition: 0.3s ease-in-out;
  color: white;
  background-color: $light-blue;
}

.popover-body {
  color: $primary-black !important;
  font-size: 13px !important;
}

.code-copy-box {
  margin-top: -35px;
  @media (max-width: $md) {
    margin-top: 20px;
  }
}

.pre-code {
  margin-top: -25px;
}

.card-copy-link {
  border-radius: 6px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
  border: none;
  padding: 45px 75px;
  border-top: 6px solid $azul;
  text-align: center;
  margin-top: -6px;

  @media (max-width: $sm) {
    padding: 40px 50px;
  }

  @media (max-width: $md) {
    margin-top: 20px;
  }

  .copy-link {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: $primary-black;
  }

  .copy-link-text {
    font-size: 14px;
    text-align: center;
    color: $cloudy-blue;
  }

  .mini-card-copy-link {
    border-radius: 8px;
    border: solid 1px $so-light-gray;
    background-color: white;

    .copy-link-text {
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      color: $primary-black;
      padding-top: 30px;
      padding-bottom: 28px;
      margin-bottom: 0;
    }

    .btn-copy-link {
      background-color: $light-sky-blue;
      width: 100%;
      height: 36px;
      border-radius: 0 0 8px 8px;
      font-size: 12px;
      font-weight: 500;
      color: $azul;
      margin-bottom: -1px;
    }

    .btn-copy-link:focus {
      box-shadow: 0 0 0 0 !important;
    }
  }
}

.hr {
  border-top: 1px solid $dark-sky-blue;
  margin-top: 60px;
  margin-bottom: 0;
}

.footer {
  nav {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  nav > span {
    padding-left: 0;
    font-size: 16px;
    line-height: 1.38;
    color: $cloudy-blue;
  }

  nav > a:last-child {
    padding-right: 0;
    padding-left: 25px;
  }

  nav > a, nav > a:hover {
    color: $cloudy-blue;
    font-size: 21px;
  }
}

// payment

.payment-main-body {
  background-color: $pale-grey;
}

.payment-card {
  border-radius: 8px;
  border: none;
  min-height: 372px;

  .payment-header {
    height: 178px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: $azul;
    padding-top: 25px;

    .timer {
      font-size: 14px;
      font-weight: 500;
      color: white;
      min-width: 40px;
    }
  }

  .payment-body {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
}

.card-col {
  padding-right: 52px;
  padding-left: 52px;
  @media (max-width: 1400px) {
    padding-right: 15px;
    padding-left: 15px;
  }
  @media (max-width: $xl) {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.payment-code {
  font-size: 10px;
  color: $primary-black;
  padding: 10px 16px;
  border-radius: 2px;
  border: solid 1px $light-gray-cream;
  background-color: white;
  text-align: center;
}

.btn-payment-copy {
  border-top: solid 1px $so-light-gray;
  background-color: white;
  color: $azul;
  font-size: 12px;
  font-weight: 500;
  border-radius: 0 0 8px 8px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-payment-copy:hover {
  color: white;
  background-color: $azul;
  transition: 0.3s ease-in-out;
}

.btn-payment-copy:focus {
  box-shadow: 0 0 0 0;
}

.payment-send {
  font-size: 13px;
  text-align: center;
  color: $pale-blue;

  b {
    color: white;
  }
}

.payment-qr {
  width: 168px;
  height: 168px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid $secondary-so-light-gray;
}

.success-card {
  border-radius: 8px;
  border: none;
  min-height: 372px;

  .success-header {
    min-height: 178px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: $azul;
    padding-top: 45px;
  }

  .success-body {
    //position: absolute;
    //bottom: 0;
    //width: 100%;
    background-color: white;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .success-icon {
    color: white;
    font-size: 45px;
  }

  .success-message {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.56;
    text-align: center;
    color: white;
  }

  .list-group-flush {
    padding-top: 20px;
  }

  .list-group-flush .list-group-item {
    border-top: 0;
  }

  .list-group-item {
    border: 1px solid transparent;
  }

  ul > li {
    padding: 12px 12px;

    span.list-name:first-child {
      font-size: 12px;
      line-height: 1.83;
      color: $light-grey-blue;
    }

    span:last-child {
      font-size: 12px;
      font-weight: 500;
      line-height: 1.83;
      text-align: right;
      color: $primary-black;
      float: right;
    }

    span.copy:focus {
      outline: none;
    }

    .btn-trs-copy {
      color: $azul;
      padding-right: 0;
      padding-left: 3px;
      font-size: 12px;
    }

    .btn-trs-copy:focus {
      box-shadow: 0 0 0 0;
    }
  }
}

.form-text {
  font-size: 12px;
}

.form-text-danger {
  color: $red;
}

.code-show, .not-defined-code {
  margin-top: -45px;
}
