$primary-black: #282828;
$secondary-black: #313131;
$azul: #1661ef;
$lighter-azul: #4180F8;
$light-blue: #6b9eff;
$brownish-grey: #6c6c6c;
$light-purple-blue: #f2f6ff;
$light-grey-blue: #a5afc3;
$dark-cream: #efeee0;
$light-gray: #e7e9ec;
$very-light-gray: #d8d8d8;
$gray-cream: #f6f6f6;
$light-gray-cream: #f3f3f3;
$so-light-gray: #f4f4f4;
$secondary-so-light-gray: #f5f5f5;
$cloudy-blue: #bdc3d0;
$light-sky-blue: #eef4ff;
$dark-sky-blue: #ecf0f6;
$pale-grey: #fafbfd;
$pale-blue: #aac5f9;
$red: #ef1616;
// size
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;


